---
import SectionTitle from "../ui/SectionTitle.astro";
---

<section id="about" class="relative z-20 font-heading">
  <div class="w-full md:max-w-6xl md:mx-auto px-0 md:px-6">
    <div
      class="relative bg-white rounded-none md:rounded-3xl px-8 py-14 md:px-16 md:py-16 text-center shadow-[8px_8px_16px_rgba(0,0,0,0.75)]"
    >
      <SectionTitle color="primary" size="xl"> Somos ArenaLogix </SectionTitle>

      <p
        class="mt-4 md:mt-6 text-brand-primary leading-relaxed md:leading-relaxed text-sm md:text-base max-w-4xl mx-auto font-body font-extrabold text-justify"
      >
        Nos dedicamos a transformar ideas en soluciones tecnológicas innovadoras
        y eficaces, diseñando software de alta calidad que optimiza procesos,
        impulsa el crecimiento y facilita la adaptación al cambio. Nuestro
        objetivo es incrementar la capacidad operativa de nuestros clientes,
        proporcionando herramientas personalizadas que optimicen su eficiencia y
        les permitan afrontar desafíos con mayor agilidad. A través de un
        enfoque ágil, confiable y colaborativo, garantizamos soluciones
        escalables que generen un impacto positivo y sostenible en sus negocios
        y en la sociedad.
      </p>

      <div class="absolute -bottom-6 left-1/2 -translate-x-1/2">
        <div
          class="bg-brand-primary text-white px-10 py-2 md:px-16 md:py-3 rounded-full text-sm md:text-xl font-bold font-body tracking-wide shadow-lg"
        >
          NUESTROS SERVICIOS
        </div>
      </div>
    </div>
  </div>
</section>
