<section class="relative w-full">
  <img
    src="/assets/tecnologia-limita.png"
    alt="Fondo tecnológico"
    class="block w-full h-auto"
  />

  <div class="absolute inset-0 z-10 flex items-center">
    <div class="max-w-7xl mx-auto px-6 w-full grid lg:grid-cols-2 items-center">
    </div>
  </div>
</section>
