---
import Button from "../ui/Button.astro";
---

<section class="bg-white py-10 lg:py-10 font-body overflow-hidden">
  <div class="max-w-7xl mx-auto px-6">
    <div
      class="grid grid-cols-1 md:grid-cols-[260px_1fr_240px] lg:grid-cols-[380px_1fr_320px] xl:grid-cols-[420px_1fr_380px] gap-12 md:gap-4 lg:gap-8 items-center md:items-start"
    >
      <div class="relative z-10">
        <div
          class="space-y-1 text-center md:text-left lg:mt-2 md:ml-4 lg:ml-8 xl:ml-12"
        >
          <p
            class="text-gray-500 font-body font-bold text-base md:text-xs lg:text-sm tracking-wide"
          >
            Tu lo imaginas, nosotros lo hacemos!
          </p>
          <h2
            class="text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-heading font-medium leading-[0.9] tracking-tight"
          >
            <span class="text-brand-primary block md:whitespace-nowrap"
              >Transformamos tus ideas</span
            >
          </h2>
          <h3
            class="text-4xl md:text-2xl lg:text-3xl xl:text-4xl font-heading font-semibold leading-[0.9] tracking-tight"
          >
            <span class="text-black block">en realidad digital.</span>
          </h3>
        </div>

        <div
          class="space-y-3 max-w-sm md:max-w-none mx-auto md:mx-0 mt-8 md:mt-24 lg:mt-40 md:ml-4 lg:ml-12"
        >
          <div
            class="border border-gray-800 rounded-2xl px-2 py-1 pr-8 sm:px-4 sm:pr-12 bg-white relative shadow-sm ml-24 lg:translate-x-12"
          >
            <h3
              class="font-body font-extrabold text-black text-sm sm:text-base mb-0 md:whitespace-nowrap"
            >
              Innovación constante:
            </h3>
            <p
              class="text-[10px] sm:text-xs text-gray-500 font-body font-semibold leading-snug text-justify"
            >
              Estamos siempre a la vanguardia de la tecnología, buscando
              soluciones creativas y eficaces para cada desafío.
            </p>
            <button>
              <img
                src="/assets/arrow-black.png"
                alt="arrow-black"
                class="absolute bottom-3 right-2 w-6 h-6 sm:w-8 sm:h-8"
              />
            </button>
          </div>

          <div class="flex flex-row gap-3 items-start">
            <div
              class="border border-gray-800 rounded-2xl px-3 py-2 pr-8 sm:px-4 sm:pr-10 bg-white relative flex-1 shadow-sm"
            >
              <h3
                class="font-body font-extrabold text-black text-sm sm:text-base mb-0 md:whitespace-nowrap"
              >
                Compromiso con la calidad
              </h3>
              <p
                class="text-[10px] sm:text-xs text-gray-500 font-body font-semibold leading-snug text-justify"
              >
                Cada proyecto es ejecutado con altos estándares de calidad,
                asegurando resultados consistentes y de impacto.
              </p>
              <button>
                <img
                  src="/assets/arrow-black.png"
                  alt="arrow-black"
                  class="absolute bottom-3 right-2 w-6 h-6 sm:w-8 sm:h-8"
                />
              </button>
            </div>

            <!-- Support Box -->
            <img
              src="/assets/constant-support.png"
              alt="Soporte Constante"
              class="rounded-xl w-20 sm:w-28 h-auto object-cover mt-7"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-center my-0 md:my-2 lg:my-4 relative z-0">
        <img
          src="/assets/phone.png"
          alt="Vista previa de aplicación móvil desarrollada por ArenaLogix"
          class="w-full max-w-[360px] sm:max-w-[460px] md:max-w-none md:w-[125%] lg:w-[140%] xl:w-[160%] object-contain drop-shadow-2xl translate-x-16 md:translate-x-12 lg:translate-x-28"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div
        class="flex flex-col items-center md:items-start justify-start space-y-4 pl-0 md:pr-0 lg:pr-12 md:mt-24 lg:mt-32"
      >
        <p
          class="text-sm text-gray-500 font-body font-semibold leading-none text-justify max-w-[260px]"
        >
          En ArenaLogix nos distinguimos por nuestra innovación constante,
          soluciones personalizadas y soporte ininterrumpido que garantiza el
          éxito a largo plazo de nuestros clientes. Nuestra filosofía se basa en
          cultivar relaciones duraderas fundamentadas en la confianza mutua y el
          crecimiento compartido, convirtiendo cada desafío en una oportunidad
          para fortalecer nuestra alianza.
        </p>

        <div class="w-full flex justify-center md:justify-start relative z-20 text-nowrap">
          <Button
            variant="primary"
            href="#cotizar"
            size="md"
          >
            Quiero mi software
          </Button>
        </div>

        <div
          class="pt-2 md:pt-8 lg:pt-12 self-center md:self-end pr-0 md:pr-4 lg:pr-12 md:ml-0"
        >
          <img
            src="/assets/qr.png"
            alt="Código QR para contactar a ArenaLogix"
            class="w-36 h-36 md:w-40 md:h-40 lg:w-40 lg:h-40 xl:w-40 xl:h-40 object-contain"
            loading="lazy"
            decoding="async"
          />
        </div>
      </div>
    </div>
  </div>
</section>
