<section class="bg-white py-10 lg:py-10 font-body overflow-hidden">
  <div class="max-w-7xl mx-auto px-6">
    <div
      class="grid grid-cols-1 lg:grid-cols-[380px_1fr_320px] xl:grid-cols-[420px_1fr_380px] gap-12 lg:gap-8 items-center"
    >
      <div class="space-y-8 relative z-10">
        <div class="space-y-1 text-center lg:text-left lg:-mt-16">
          <p
            class="text-brand-purple font-body font-bold text-base lg:text-sm tracking-wide"
          >
            Tu lo imaginas, nosotros lo hacemos!
          </p>
          <h2
            class="text-4xl lg:text-5xl xl:text-6xl font-heading font-medium leading-[0.9] tracking-tight"
          >
            <span class="text-brand-primary block">Transformamos tus ideas</span
            >
          </h2>
          <h3
            class="text-4xl lg:text-3xl xl:text-4xl font-heading font-semibold leading-[0.9] tracking-tight"
          >
            <span class="text-black block">en realidad digital.</span>
          </h3>
        </div>

        <div class="space-y-4 max-w-md mx-auto lg:mx-0 mt-20">
          <div
            class="border border-gray-700 rounded-2xl px-3 py-1 pr-10 sm:px-5 sm:pr-16 bg-white relative shadow-sm ml-24"
          >
            <h3
              class="font-body font-extrabold text-gray-900 text-sm sm:text-base mb-0"
            >
              Innovación constante:
            </h3>
            <p
              class="text-xs sm:text-sm text-gray-500 font-body font-semibold leading-snug text-justify"
            >
              Estamos siempre a la vanguardia de la tecnología, buscando
              soluciones creativas y eficaces para cada desafío.
            </p>
            <button>
              <img
                src="/assets/arrow-black.png"
                alt="arrow-black"
                class="absolute bottom-3 right-2 w-8 h-8 sm:w-10 sm:h-10"
              />
            </button>
          </div>

          <div class="flex flex-row gap-4 items-stretch">
            <div
              class="border border-gray-600 rounded-2xl px-2 py-1 pr-1 sm:px-3 sm:pr-2 bg-white relative flex-1 shadow-sm"
            >
              <h3
                class="font-body font-extrabold text-gray-900 text-sm sm:text-base mt-2"
              >
                Compromiso con la calidad
              </h3>
              <p
                class="text-xs sm:text-sm text-gray-500 font-body font-semibold leading-snug"
              >
                Cada proyecto es ejecutado con altos estándares de calidad,
                asegurando resultados consistentes y de impacto.
              </p>
              <button>
                <img
                  src="/assets/arrow-black.png"
                  alt="arrow-black"
                  class="absolute bottom-3 right-2 w-10 h-10 sm:w-12 sm:h-12"
                />
              </button>
            </div>

            <!-- Support Box -->
            <img
              src="/assets/constant-support.png"
              alt="Soporte Constante"
              class="rounded-xl w-24 sm:w-36 h-auto object-contain shadow-lg"
            />
          </div>
        </div>
      </div>

      <div class="flex justify-center my-0 lg:my-2 relative z-0">
        <img
          src="/assets/phone.png"
          alt="App Showcase"
          class="w-3/4 max-w-[320px] sm:max-w-[400px] lg:max-w-none lg:w-[160%] object-contain drop-shadow-2xl translate-x-16 lg:translate-x-28"
        />
      </div>
      <div
        class="flex flex-col items-center lg:items-start justify-start space-y-8 pl-0 lg:pr-24"
      >
        <p
          class="text-sm text-gray-600 font-body font-semibold leading-none text-justify max-w-sm"
        >
          En ArenaLogix nos distinguimos por nuestra innovación constante,
          soluciones personalizadas y soporte ininterrumpido que garantiza el
          éxito a largo plazo de nuestros clientes. Nuestra filosofía se basa en
          cultivar relaciones duraderas fundamentadas en la confianza mutua y el
          crecimiento compartido, convirtiendo cada desafío en una oportunidad
          para fortalecer nuestra alianza.
        </p>

        <button
          class="bg-brand-primary hover:bg-brand-primary/80 text-white px-8 py-3 rounded-full font-heading font-bold text-sm lg:text-sm uppercase tracking-wider justify-between shadow-lg hover:shadow-xl transition-all w-full max-w-xs lg:max-w-none lg:w-auto"
        >
          Quiero mi software
        </button>

        <div class="pt-4 lg:pt-12 self-center lg:self-end pr-0 lg:pr-12">
          <img
            src="/assets/qr.png"
            alt="QR Code"
            class="w-32 h-32 object-contain"
          />
        </div>
      </div>
    </div>
  </div>
</section>
